<h2 mat-dialog-title>
    {{ title }}
</h2>

<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="form">
        <!-- Barcode field -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Barcode</mat-label>
            <input matInput type="text" formControlName="barcode" />
        </mat-form-field>

        <!-- Color field -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Color</mat-label>
            <input matInput type="text" formControlName="color" />
        </mat-form-field>

        <!-- Size field -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Size</mat-label>
            <input matInput type="text" formControlName="size" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Expiration Date</mat-label>
            <input 
                matInput 
                [matDatepicker]="expirationDatePicker" 
                formControlName="expirationDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="expirationDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #expirationDatePicker></mat-datepicker>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="submit()">Submit</button>
</mat-dialog-actions>
