<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Articles ({{ count }})
            </mat-panel-title>
        </mat-expansion-panel-header>

        <table 
            mat-table 
            [dataSource]="dataSource"
            class="mat-elevation-z8 mat-table-full-width">

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>
                    Id
                </th>
                <td mat-cell *matCellDef="let row"> 
                    {{ row.id }} 
                </td>
            </ng-container>


            <!-- Product Name Column -->
            <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef> 
                    Product
                </th>
                <td mat-cell *matCellDef="let row"> 
                    {{ row.productName }} 
                </td>
            </ng-container>


            <!-- Active Column -->
            <ng-container matColumnDef="isActive">
                <th mat-header-cell *matHeaderCellDef> 
                    Active
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon color="primary" *ngIf="row.isActive">check_circle</mat-icon>
                    <mat-icon color="warn" *ngIf="!row.isActive">cancel</mat-icon>
                </td>
            </ng-container>

            
            <!-- Barcode Column -->
            <ng-container matColumnDef="barcode">
                <th mat-header-cell *matHeaderCellDef> 
                    Barcode
                </th>
                <td mat-cell *matCellDef="let row"> 
                    {{ row.barcode }} 
                </td>
            </ng-container>

            <!-- Size Column -->
            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef>
                    Size
                </th>
                <td mat-cell *matCellDef="let row"> 
                    {{ row.size }} 
                </td>
            </ng-container>

            <!-- ExpirationDate Column -->
            <ng-container matColumnDef="expirationDate">
                <th mat-header-cell *matHeaderCellDef> 
                    Expiration Date
                </th>
                <td mat-cell *matCellDef="let row"> 
                    {{ row.expirationDate | date:'short' }} 
                </td>
            </ng-container>

            <!-- Created At Column -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> 
                    Created at
                </th>
                <td mat-cell *matCellDef="let row"> 
                    {{ row.createdAt | date:'short' }} 
                </td>
            </ng-container>

            <!-- Updated At Column -->
            <ng-container matColumnDef="updatedAt">
                <th mat-header-cell *matHeaderCellDef> 
                    Updated at
                </th>
                <td mat-cell *matCellDef="let row"> 
                    {{ row.updatedAt | date:'short' }} 
                </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> 
                    <button type="button" mat-raised-button (click)="loadData()">Search</button>
                    <button type="button" mat-raised-button (click)="onCreate()">Create</button>
                </th>
                <td mat-cell *matCellDef="let row"> 
                    <button 
                        mat-mini-fab 
                        color="primary" 
                        [matMenuTriggerFor]="actionsMenu">
                        <mat-icon>menu</mat-icon>
                    </button>

                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item (click)="onUpdate(row)">
                            Update
                        </button>
                        <button mat-menu-item (click)="onDelete(row)">
                            Delete
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <!-- Header and Row Declarations -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
    </mat-expansion-panel>
</mat-accordion>
